[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "NetPreProc"]
	path = NetPreProc
	url = https://github.com/cran/NetPreProc
[submodule "PerfMeas"]
	path = PerfMeas
	url = https://github.com/cran/PerfMeas
[submodule "RANKS"]
	path = RANKS
	url = https://github.com/cran/RANKS
[submodule "bionetdata"]
	path = bionetdata
	url = https://github.com/cran/bionetdata
